
body{
    overflow-x: hidden;
  margin: 0 auto;
}
.top{
    position: fixed;
    display: flex;
    top: 0;
    margin: 0 auto;
    height: 60px;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    background-color: red;
     border-bottom: 1px solid rgb(152, 0, 0);
}
.mobile_menu{
    display: none;
}
.mobile-nav{
    display: none;
}
.nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.nav a{
    height: 100%;
    
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: x-large;
   box-sizing: border-box;
}

.head{
    width: 100vw;
    height: 90vh;
    margin: 0 auto;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.head h1{
    text-align: center;
    font-size: 60px;
    margin: 20px;
    color: white;
}
.head p{
    text-align: center;
    font-size: 25px;
    margin: 20px;
    color: white;
}
.head button{
    display: block;
    text-align: center;
    color: white;
    background-color: black;
    border: none;
    padding: 15px 25px;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 20px;
  
}
.content1{
    margin: 0 auto;
    width: 70vw;
   display: flex;
   flex-direction: row;
}
.lgray-content{
    background-color: lightgray;
}
.content2{
    margin: 0 auto;
    width: 70vw;
   display: flex;
   flex-direction: row;
  
}
.content1 .text{
  width: 60%;
}
.content1 h1{
    padding: 32px 0px;
}
.content1 h5{
  padding: 20px 0px;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 100;
}
.content1 p{
   padding: 20px 0px;
    color: grey;
}

.content1 .image{
    width: 20%;
    margin: 10%;
}
.content2 .text{
    width: 60%;
  }
  .content2 h1{
      padding: 32px 0px;
  }
  .content2 h5{
    padding: 20px 0px;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 100;
  }
  .content2 p{
     padding: 20px 0px;
      color: grey;
  }
  
  .content2 .image{
      width: 20%;
      margin: 10%;
  }
  .quote{
    width: 100vw;
    height: 27vh;
    background-color: #484848;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  .quote h1{
    color: white;
   display: inline;
    font-size: 25px;
  }
  .footer{
     margin: 30px 0px;
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .footer img{
    width: 25px;
   
  }
  @media only screen and (max-width:700px){
    body{
        overflow-x: hidden;
    }
    .nav{
        display: none;
    }
    .mobile-nav{
        display: flex;
    }
    .mobile-nav{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .mobile-nav a{
        height: 100%;
       
        padding: 10px 20px;
        text-decoration: none;
        color: white;
        font-size: x-large;
       box-sizing: border-box;
    }
    .mobile-nav img{
       padding: 0px 30px 0px 60px;
        height: 100%;
      
    }
    .mobile-nav img:hover{
        background-color: white;
       z-index: -2;
        box-sizing: border-box;
    }
   
    #mobile_menu{
        display: flex;
        width: 100vw;
        position: fixed;
        top: 60px;
        background-color: white;
        height: 30vh;
        flex-direction: column;
        justify-content: left;
        align-content: center;
    }
    #mobile_menu a{
        display: block;
        text-decoration: none;
        font-size: x-large;
        color: black;
      
        display: block;
        height: 100%;
    }
    #mobile_menu a:hover{
        background: rgba(192, 192, 192, 0.778);
    }
    .head{
        width: 100vw;
        height: 60vh;
        margin: 0 auto;
        background-color: red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .head h1{
        font-size: 45px;
    }
    .content1{
        margin: 0 auto;
        width: 90vw;
       display: flex;
       flex-direction: column;
    }
    .lgray-content{
        background-color: lightgray;
    }
    .content2{
        margin: 0 auto;
        width: 90vw;
       display: flex;
       flex-direction: column;
      
    }
    .content1 .text{
      width: 95%;
    }
    .content1 h1{
        padding: 20px 0px;
        margin: 0;
        margin-top: 50px;
    }
    .content1 h5{
      padding: 20px 0px;
      font-size: 18px;
      font-family: sans-serif;
      font-weight: 100;
      margin: 0px;
    }
    .content1 p{
       padding: 20px 0px;
        color: grey;
    }
    
    .content1 .image{
        width: 50%;
        margin: 0 auto;
        margin-bottom: 100px;
    }
    .content2 .text{
        width: 95%;
      }
      .content2 h1{
          padding: 20px 0px;
          margin: 0;
      }
      .content2 h5{
        padding: 20px 0px;
        font-size: 18px;
        font-family: sans-serif;
        font-weight: 100;
        margin: 0;
      }
      .content2 p{
         padding: 20px 0px;
          color: grey;
      }
      
      .content2 .image{
          width: 50%;
          margin: 0 auto;
          margin-top: 100px;
      }
      .quote{
        width: 99vw;
        height: 27vh;
        background-color: #484848;
        text-align: center;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
      }
  }